language:
- python
python:
- '2.7'
cache: pip
before_install:
- sudo apt-get install zip
- pip install awscli
- mkdir deploy
script:
- cp *.py deploy/ && cp requirements.txt deploy/ && cd deploy/
- pip install -r requirements.txt -t .
- zip -r "../findmybot-$TRAVIS_BUILD_NUMBER.zip" .
- cd ../
after_success:
- aws lambda update-function-code --function-name findmybot --zip-file fileb://"findmybot-$TRAVIS_BUILD_NUMBER.zip"
env:
  global:
  - secure: XXdP7EIT3PRfxoEAuKRA5+0dVp/wRmQO/sPTS7y2b/ofo3pGcV5sgnvsnHqzvOPuKYw9m/3ZS1K4gQKxggXRSVhC9u0hIp/VZINFmS5r9PS7HKd8zwwqYj4BoCa5IIpKlZ0ZIoNLlIX7R68Pos9wCvokX71iXIwsNxh++6LLMTjzvyPjUJ5iMriRmZ0BIHwC3ouqLxJ8/warIh+h8Qp3+EQqbIs+ooPqsKNoLs3DbB+ZlKhCL3n0aa1g4wO1GBzcCdB6GrL6V+vxIiuSyOPGqxyyPQmempPwwClB45U2G4YlnItxPPzglijAUsnFm/8bCBM5tiK89/L3016PlsAOd0HazngGJ5boDaaRk7PMvqXaDJrOCqmA7NH9zBwDBCBLQ+jSqrjWQi9Bg8Rewfb+7qeDcR+XCyQ+HGuznZG1lHNvoHuzPEiqtgB8o5PWNtm2eW+mXejZGigmBgW1PgG9k0yErOBF1bVKr3N/PvlF7h7i6xY0DBiUgfvZrMZAS7EzIL9vqgJstbh4k4A53+QZUGxAL8R28RfoqU1+rWPImjMqU7AKEXb0IOfvGGtmuFR4kVZX80TKuyQIC9ZGS5NOJ8ntNBW6eauN69xvV+jSfSPGF7Vo9WEqVatJyL+aTVpTmAKrYbqAdLSAedFBy1eAAY+isnos0ddDgN45hcghhsk=
  - secure: KnNFniK8jnQdGeUfMcRlLatS9gzrIpGKUbJhGXyj89iJYmNoOA0upGRV4k6yWGDgPx9qqdPEcYjkTrbbjieQqhRQ1vAIXUrjrDeLGeHn3o4DCWVJz6+w8vjyJRP0DFyrtNJBx0/68qal8tR0Oto36hiLkmNozCPKxD8FLSaPz+E3uejSXyGSrUQMJKDzfJ3zJi+B+PSD9TR84po1GR7WZSow31cQEqP1Y5ph+jqHYXYbiG65tQaDfUWxOd4MCSglWM65PprqRmlHoNYGk7PpgN/0LJck5WMcWzBgKaI6182uHqJnkNEZ74RP59NMZ+dwlS7hkhK0F3lFYKBKn8rbPhk7DNrBPuuOnU+DR30c8/QYUIHhHArdVCvxJgnuV94HFW6lytVs4+rKm0QHLi1XHpmLz/L3w0G19kAHxj8oUV51//viV4smqM90hqkiBC3QICkzw4uAaWyJBWpDloc/4oIBQqDzsWB5yO44n8YhtSQJWldwLOvroMC4z7bshYXisDWDFObap+yOpjORbTzIqXME09eZXRMoSmFYyHpNWcll8V/oMmcmA9JBioRsUydL9YiJtSksJPrYe66Yib2gykY7yXWWtaFJmDkHJl/teDySDNL2tBa6ePKAVv2wr+0XyqP19vj1S4UE4v3b+EkrJb3eVv6ebnxKy5waX87SkVU=
  - secure: EpaTPsCMy6eHmE7RavW+Wl0K1ofeDWNp7DvuhMM32CgXqJ9VjdzkPUqQG7/OtFSs+bFFD0yeS8fmngatfZxHx448Fq0f/cDYIrHIsZPmPxzrft3q3tBLT4nPnuXZWTIFzZLl4aEn2bcs0tV+KVzlu9pIazSE7/VCvQKWI6UGQ8shFKQZZIwMZumza7ZKnjKe5t7STex0t7784+jOLYZ6Vr35q/GrmDCk285s8huZdA9UWR44FXfL93vuxPbBN0Ju8ExAPqZfJOJjyRRnxA8Rp0c1giAS9N3pwyokWIAhPSmEUQwqcjjVQ/vSBdYnZf02VxNf2xz+wRLZwcj8FQr3A/mCA3Z5s09O4f9OG0xxW0IyHMnvEOtHMiFSCI76HnIEpCaiIQxDNQbG0q1MWrs0S5YWXyMzXVuzk6ozVBzl8ETkGLWHwO0SCMMdx+t7piEGP7Clhv7+zCwhLIe2hNTTVJIThdpia+rT7dVzEffV4n/eUZjctYXPkVtcvvLKkljWaRY44WW9pP+OquHUWdHbLRixb17F2GlVIfWTzgysreJAEWGm9oDBac13k0QnL486+NIdwek07aDxDB03y2nyL2HQpuDIqq1bRf3Xp46j0djGTR3p9lLpYwuPwMKGiEXW3F84SbNEu3TTcXF1I7FR4UzihVOUGuwMk6f4Rx2ai3E=
